{% extends "base.html" %}
    
    {% block body %}
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <h1 id="title" class="ui center aligned header">To Do App</h1>
    <form style="display: flex; flex-direction: row; justify-content: flex-end;" action="/logout">
        <button id="logout_button" class="ui green button">Logout</button>
    </form>
            <form class="ui form" action="/add" method="post">
                <div class="field">
                    <label>Todo Title</label>
                    <input id="todo_input" type="text" name="title" placeholder="Enter Todo..."><br>
                </div>
                <button id="submit_todo_button" class="ui blue button" type="submit">Add</button>
            </form>
    
            <hr>
    
            {% for todo in todo_list %}
            <div class="ui segment">
                <p class="ui big header todo">{{todo[0] }} | {{ todo[1] }}</p>
    
                {% if todo[2] == False %}
                <span id="state" class="ui gray label">Not Complete</span>
                {% else %}
                <span id="state" class="ui green label">Completed</span>
                {% endif %}
    
                <a id="update_todo_button" class="ui blue button" href="/update/{{ todo[0] }}">Update</a>
                <a id="delete_todo_button" class="ui red button" href="/delete/{{ todo[0] }}">Delete</a>
            </div>
            {% endfor %}
        </div>
{% endblock %}